name: sparkfun ports

on:
  release:
    types: [created]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'micropython'
    steps:
    - uses: actions/checkout@v4
      with:
        path: 'micropython'
    - name: Install RP2 package
      run: source tools/ci.sh && ci_rp2_setup
    # - name: Install mimxrt package # Currently redundant since it does the same arm setup as rp2, but in future if these diverge, uncomment this...
    #   run: source tools/ci.sh && ci_mimxrt_setup
    - id: idf_ver
      name: Read the ESP-IDF version (including Python version)
      run: source tools/ci.sh && echo "IDF_VER=${IDF_VER}-py${PYTHON_VER}" | tee "$GITHUB_OUTPUT"
    - name: Install ESP-IDF packages
      run: source tools/ci.sh && ci_esp32_idf_setup 
    - name: Build
      run: source sparkfun_build.sh && build_sparkfun -o sparkfun_release -p "MICROPYTHON_" -q qwiic_lib
      env:
        GH_TOKEN: ${{ github.token }}
    - name: Upload Release Assets
      uses: shogo82148/actions-upload-release-asset@v1
      with:
        asset_path: "micropython/sparkfun_release/*"
        github_token: ${{ secrets.GITHUB_TOKEN }}
        upload_url: ${{ github.event.release.upload_url }}

